@mixin button() {
    padding: 12px 24px;
    border-radius: var(--border-radius);
}

@mixin maxBlockWidth() {
    margin: 0 auto;
    max-width: 1420px;
}

@mixin navigation() {
    padding: 0;
    list-style: none;
    display: flex;
}

@mixin section($url, $position) {
    background: linear-gradient(180deg, var(--main-background-color) 29.73%, var(--quaternary-color) 100%), url($url) no-repeat $position;
}

@mixin activeButton() {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
}
