:root {
    --primary-color: #23155B;
    --secondary-color: #8053FF;
    --tertiary-color: #F7F6FA;
    --quaternary-color: #FFFFFF;

    --gray: #928CAB;
    --gray-light: #D4CDEF;

    --header-line-color: #F4F5F4;

    --main-background-color: #FBFAFF;

    --border-radius: 8px;
    --section-border-radius: 250px;
    --max-width: 1920px;
    --primary-space: 20px;
    --secondary-space: 12px;

    --headers-font-size: 52px;
    --headers-line-height: 64px;
}