.mainblock {
    max-width: 1024px;
    margin: auto;
}

input,
select,
textarea,
table,
thead,
tr,
th,
td,
fieldset,
label {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
fieldset {
    border: 1px solid #333;
    padding: 3px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: bold;
    background: #efefef;
    border: 1px solid #333;
    padding: 8px;
}

td {
    border: 1px solid #333;
    padding: 8px;
}

.blocksize {
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px;
}

.requirements {
    color: #ED0131;
    margin-left: 52px;
}

input:invalid {
    border-color: #ED0131;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #0048d9;
    color: #ffff;
    padding: 4px 10px;
    margin-top: 4px;
    border-radius: 5px;
    border:none;
}

input[type="submit"]:hover {
    background-color: #002266;
}

select {
    min-width: 6.5rem;
    padding: 3px;
    border-radius: 5px;
}

.required {
    color: #ED0131;
}