@import 'variables';
@import 'mixins';

/* General styles */
body {
    font-family: 'Poppins';
}

h2 {
    font-size: var(--headers-font-size);
    margin: 0;
    line-height: var(--headers-line-height);
}

h3, p {
    margin: 0;
}

.selected {
    color: var(--secondary-color);
}

.heading-wrapper {
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
        padding: var(--secondary-space);
    }
}

.link {
    @include button();
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 36px;

    &.primary {
        @include activeButton();
    }

    &.secondary {
        background-color: var(--quaternary-color);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

    &:hover {
        opacity: .7;
    }
}

.card {
    width: 532px;
    padding: 32px 24px;
    background-color: var(--quaternary-color);
    box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    font-size: 18px;
    line-height: 28px;

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--primary-color);
    }

    &__description {
        color: var(--gray);
        font-size: 14px;
        line-height: 21px;
    }
}

/* Page styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    @include maxBlockWidth();

    .logo {
        display: flex;
        align-items: center;
        gap: var(--secondary-space);

        &__image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: var(--tertiary-color);
        }

        &__title {
            color: var(--primary-color);
            font-size: 18px;
            font-weight: 700;
            line-height: 40px;
        }
    }

    .header-nav {
        & > ul {
            @include navigation();
            gap: 64px;

            & > li {
                display: block;
            }
        }

        a {
            color: var(--primary-color);
            font-size: 16px;
            line-height: 28px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                @include activeButton();

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.hero {
    @include maxBlockWidth();
    height: 600px;
    border-radius: calc(var(--border-radius) * 3);
    background-color: var(--main-background-color);
    background-image: url('../assets/header-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .link {
        width: 232px;
    }

    & > h1 {
        color: var(--primary-color);
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;
        margin: 0;
    }

    &__description {
        color: var(--gray);
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
    }

    &__actions {
        display: flex;
        gap: var(--secondary-space);
    }
}

.main {
    .companies-list {
        margin-bottom: 187px;

        &__title {
            color: var(--primary-color);
            font-size: 24px;
            line-height: 40px;
            font-weight: 500;
            margin: 0 auto 42px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 480px;
                border-bottom: 2px solid var(--header-line-color);
            }
        }

        &__list {
            display: flex;
            justify-content: center;
            gap: var(--primary-space);
        }
    }

    .cards-list {

        display: flex;
        flex-direction: row;
        gap: 218px;
        max-width: 1180px;
        margin: 0 auto -40px;

        &__title {
            max-width: 382px;
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: var(--secondary-space);
            margin: 0;
            padding: 0;

            .card::marker {
                list-style-type: decimal-leading-zero;
                color: var(--secondary-color);
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    .cards-answers {
        background: url('../assets/answers-bg.png') no-repeat top -55px left, linear-gradient(180deg, #FBFAFF 29.73%, #FFFFFF 100%);
        border-radius: var(--section-border-radius) 0px 0px 0px;
        padding-top: 255px;
        padding-bottom: 200px;

        &__wrapper {
            max-width: 1180px;
            margin: 0 auto;
            display: flex;
            gap: 40px;
            flex-direction: column;
        }

        &__header {
            max-width: 616px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: var(--gray);
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--primary-space);
        }

        .card {
            padding: 24px 32px 24px 60px;
            background: url("../assets/tick.svg") no-repeat top 24px left 20px;
        }

        &__actions {
            .link {
                width: 232px;
            }
        }
    }
}

.footer {
    border-radius: var(--section-border-radius) 0 0 0;
    height: 900px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:  url('../assets/join-bg-top.png') no-repeat top left, url('../assets/join-bg-bottom.png') no-repeat bottom right;
        opacity: .1;
        z-index: 1;
    }

    &__title {
        & > h2 {
            color: var(--quaternary-color);
        }
        max-width: 437px;
    }

    &__description {
        color: var(--gray-light);
        font-size: 18px;
        line-height: 36px;
    }

    .contants {
        position: relative;
        z-index: 3;
        
        .social-media {
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: flex-end;
        }

        .social-media > ul {
            @include navigation();
            gap: 30px;
        }

        .other-contacts > ul {
            @include navigation();
            gap: 40px;

            a {
                color: var(--gray-light);
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .contant-form {
        position: relative;
        z-index: 3;
    }
}