:root {
  --primary-color: #23155B;
  --secondary-color: #8053FF;
  --tertiary-color: #F7F6FA;
  --quaternary-color: #FFFFFF;
  --gray: #928CAB;
  --gray-light: #D4CDEF;
  --header-line-color: #F4F5F4;
  --main-background-color: #FBFAFF;
  --border-radius: 8px;
  --section-border-radius: 250px;
  --max-width: 1920px;
  --primary-space: 20px;
  --secondary-space: 12px;
  --headers-font-size: 52px;
  --headers-line-height: 64px;
}

/* General styles */
body {
  font-family: "Poppins";
}

h2 {
  font-size: var(--headers-font-size);
  margin: 0;
  line-height: var(--headers-line-height);
}

h3, p {
  margin: 0;
}

.selected {
  color: var(--secondary-color);
}

.heading-wrapper {
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .heading-wrapper {
    padding: var(--secondary-space);
  }
}

.link {
  padding: 12px 24px;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}
.link.primary {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}
.link.secondary {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.link:hover {
  opacity: 0.7;
}

.card {
  width: 532px;
  padding: 32px 24px;
  background-color: var(--quaternary-color);
  box-shadow: 0px 8px 12px -6px rgba(35, 21, 91, 0.05), 0px 14px 64px -4px rgba(35, 21, 91, 0.05);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 28px;
}
.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}
.card__description {
  color: var(--gray);
  font-size: 14px;
  line-height: 21px;
}

/* Page styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 auto;
  max-width: 1420px;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: var(--secondary-space);
}
.header .logo__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
}
.header .logo__title {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
.header .header-nav > ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 64px;
}
.header .header-nav > ul > li {
  display: block;
}
.header .header-nav a {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}
.header .header-nav a:hover {
  text-decoration: underline;
}
.header .header-nav a.active {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}
.header .header-nav a.active:hover {
  text-decoration: none;
}

.hero {
  margin: 0 auto;
  max-width: 1420px;
  height: 600px;
  border-radius: calc(var(--border-radius) * 3);
  background-color: var(--main-background-color);
  background-image: url("../assets/header-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.hero .link {
  width: 232px;
}
.hero > h1 {
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  margin: 0;
}
.hero__description {
  color: var(--gray);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
.hero__actions {
  display: flex;
  gap: var(--secondary-space);
}

.main .companies-list {
  margin-bottom: 187px;
}
.main .companies-list__title {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  margin: 0 auto 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.main .companies-list__title::before, .main .companies-list__title::after {
  content: "";
  display: block;
  width: 480px;
  border-bottom: 2px solid var(--header-line-color);
}
.main .companies-list__list {
  display: flex;
  justify-content: center;
  gap: var(--primary-space);
}
.main .cards-list {
  display: flex;
  flex-direction: row;
  gap: 218px;
  max-width: 1180px;
  margin: 0 auto -40px;
}
.main .cards-list__title {
  max-width: 382px;
}
.main .cards-list .cards {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-space);
  margin: 0;
  padding: 0;
}
.main .cards-list .cards .card::marker {
  list-style-type: decimal-leading-zero;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.main .cards-answers {
  background: url("../assets/answers-bg.png") no-repeat top -55px left, linear-gradient(180deg, #FBFAFF 29.73%, #FFFFFF 100%);
  border-radius: var(--section-border-radius) 0px 0px 0px;
  padding-top: 255px;
  padding-bottom: 200px;
}
.main .cards-answers__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.main .cards-answers__header {
  max-width: 616px;
}
.main .cards-answers p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: var(--gray);
}
.main .cards-answers__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--primary-space);
}
.main .cards-answers .card {
  padding: 24px 32px 24px 60px;
  background: url("../assets/tick.svg") no-repeat top 24px left 20px;
}
.main .cards-answers__actions .link {
  width: 232px;
}

.footer {
  border-radius: var(--section-border-radius) 0 0 0;
  height: 900px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../assets/join-bg-top.png") no-repeat top left, url("../assets/join-bg-bottom.png") no-repeat bottom right;
  opacity: 0.1;
  z-index: 1;
}
.footer__title {
  max-width: 437px;
}
.footer__title > h2 {
  color: var(--quaternary-color);
}
.footer__description {
  color: var(--gray-light);
  font-size: 18px;
  line-height: 36px;
}
.footer .contants {
  position: relative;
  z-index: 3;
}
.footer .contants .social-media {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
}
.footer .contants .social-media > ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}
.footer .contants .other-contacts > ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer .contants .other-contacts > ul a {
  color: var(--gray-light);
  text-decoration: underline;
}
.footer .contants .other-contacts > ul a:hover {
  text-decoration: none;
}
.footer .contant-form {
  position: relative;
  z-index: 3;
}/*# sourceMappingURL=index.css.map */