/*variables*/
.main-theme{
    /*font*/
    --font-family-base: 'Montserrat', sans-serif;

    /*colors*/
    --color-main: #1E1E1E;
    --color-background-block1: #86A3B4;
    --color-background-block2: #ffff;
    --color-hireme: #c6e2f3;
    --color-links: #1c2e8c;
    --color-text1: #263036;
    --color-text2: #000000;

    /*space*/
    --space-text: 20px;
    --space-text2: 0px;
    --border-block1: 1px;
}