/*variables*/
.my-theme{
    /*font*/
    --font-family-base: 'Montserrat', sans-serif;

    /*colors*/
    --color-main: #000;
    --color-background-block1: #63686e;
    --color-background-block2: #FDFFFC;
    --color-hireme: #fcede1;
    --color-links: #ffc107;
    --color-text1: #1E1E1E;
    --color-text2: #343a40;

    /*space*/
    --space-text: 20px;
    --space-text2: 0px;
    --border-block1: 1px;
}