.wrapper {
    color: #333;
    font-family:Arial, Helvetica, sans-serif
}

.p1 {
    display:block;
}

h1 {
    border-bottom: 2px solid #8baae4;
    font-style: italic;
}

.container {
    width: 100px;
    border: 2px solid #8baae4;
    padding: 10px;
    float: right;
}

.border {
    border-bottom: 2px solid #8baae4;
}

.linkfirst {
    color: #00f;
    text-decoration: underline;
}

.linkfirst:hover {
    text-decoration: none;
}

.linkfirst:active {
    text-transform: uppercase;
}

.backgroundfirst{
    background-color: #7491c9;
}

.backgroundsecond {
    background-color: #adbfe0;
}

.capital-letters {
    text-transform: uppercase;
    background-color: #7491c9;
}

th {
   text-transform: uppercase;
}

.linksecond {
    text-decoration: underline;
}

.linksecond:visited {
    color: #005;
}

.linksecond:hover {
    text-decoration: none;
}

ul {
    list-style: square;
    list-style-position: outside;
    border-bottom: 2px solid #8baae4;
}