/*variables*/
:root{
    /*font*/
    --font-family-base: 'Montserrat', sans-serif;

    /*colors*/
    --color-background-main: #1E1E1E;
    --color-background-block1: #86A3B4;
    --color-background-block2: #ffff;
}